sudo
git
sqlite3
php
libapache2-mod-php
ifupdown2
autoconf
automake
bison
clang
clang-tidy
clang-format
cmake
doxygen
flex
furo
g++
iproute2
iputils-ping
lcov
libbenchmark-dev
libbpf-dev
libc-dev
libc6-dev
libc-dev-bin
linux-libc-dev
libcmocka-dev
libgit2-dev
libnl-3-dev
libtool
make
pkgconf
procps
openssl
python3-breathe
python3-dateutil
python3-git
python3-pip
python3-venv
python3-scapy
python3-sphinx
sed
xxd
linux-perf
msr-tools
libbpf-dev
bpftool
python3-pip
python3-setuptools
python3-wheel
nftables
conntrack
wireguard-tools
dnsmasq
