apache2
git
sqlite3
php
libapache2-mod-php
autoconf
automake
bison
clang
clang-tidy
clang-format
cmake
doxygen
flex
furo
g++
git
iproute2
iputils-ping
lcov
libbenchmark-dev
libbpf-dev
libc-dev
libcmocka-dev
libgit2-dev
libnl-3-dev
libtool
linux-tools-common
make
pkgconf
procps
openssl
python3-breathe
python3-dateutil
python3-git
python3-pip
python3-venv
python3-scapy
python3-sphinx
sed
xxd
nftables
conntrack
wireguard-tools
dnsmasq
